ieee.odm_pss/schema/basecase/dynamic/exc/IEEEExciterModel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<ns:schema 
	xmlns:ns="http://www.w3.org/2001/XMLSchema" 
	xmlns:pss="http://www.ieee.org/odm/Schema/2008"
	targetNamespace="http://www.ieee.org/odm/Schema/2008" 
	elementFormDefault="qualified" >

	
    <ns:include schemaLocation="../../../common/DataType.xsd" />

    <ns:include schemaLocation="ExciterModel.xsd" />

    
    <ns:annotation>
		<ns:documentation>Copyright www.interpss.org 2008-2011</ns:documentation>
	</ns:annotation>
	
	<!-- 
		define models for those found in IEEE std
			Naming convention
			    excIEEE*, ExcIEEE* : for IEEE types  
	 -->		
    
	<!-- IEEE std 1992--> 
    <ns:element name="excIEEE1992TypeAC1A" substitutionGroup="pss:exciter" type="pss:ExcIEEE1992TypeAC1AXmlType" />
    <ns:element name="excIEEE1992TypeST1A" substitutionGroup="pss:exciter" type="pss:ExcIEEE1992TypeST1AXmlType" />
    
    
    <!-- IEEE std 1981--> 
    
    <ns:element name="excIEEE1981TypeAC2" substitutionGroup="pss:exciter" type="pss:ExcIEEE1981TypeAC2XmlType" />
    <ns:element name="excIEEE1981ST1" substitutionGroup="pss:exciter" type="pss:ExcIEEE1981ST1XmlType" />
    <ns:element name="excIEEE1981TypeDC1" substitutionGroup="pss:exciter" type="pss:ExcIEEE1981TypeDC1XmlType" />
    <ns:element name="excIEEE1981TypeDC2" substitutionGroup="pss:exciter" type="pss:ExcIEEE1981TypeDC2XmlType" />
    
    
    <!-- IEEE std 1968--> 
    
    <ns:element name="excIEEE1968Type1" substitutionGroup="pss:exciter" type="pss:ExcIEEE1968Type1XmlType" />
    <ns:element name="excIEEE1968Type1S" substitutionGroup="pss:exciter" type="pss:ExcIEEE1968Type1SXmlType" />
    <ns:element name="excIEEEModified1968Type1" substitutionGroup="pss:exciter" type="pss:ExcIEEEModified1968Type1XmlType" />
    <ns:element name="excIEEE1968Type2" substitutionGroup="pss:exciter" type="pss:ExcIEEE1968Type2XmlType" />
    <ns:element name="excIEEE1968Type4" substitutionGroup="pss:exciter" type="pss:ExcIEEE1968Type4XmlType" />
    <ns:element name="excIEEE1968Type3" substitutionGroup="pss:exciter" type="pss:ExcIEEE1968Type3XmlType" />
    

<!-- 
		IEEE 1968 model set
 -->
    <ns:element name="excTSATTypeEXC34" substitutionGroup="pss:exciter" type="pss:ExcTSATTypeEXC34XmlType" />
    

    <ns:complexType name="ExcIEEE1968BaseXmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExciterModelXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="0" name="TR" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KA" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VRMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VRMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="EFDMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E2" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE2" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    

    <ns:complexType name="ExcIEEE1968Type1XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcIEEE1968BaseXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="0" name="TA" type="pss:TimePeriodXmlType" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    

    <ns:complexType name="ExcIEEEModified1968Type1XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcIEEE1968BaseXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="0" name="TR" type="pss:TimePeriodXmlType" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    
	
    <ns:complexType name="ExcIEEE1968Type1SXmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="KP" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    

    <ns:complexType name="ExcIEEE1968Type2XmlType">
		<ns:complexContent>
		<ns:extension base="pss:ExcSimpleTypeXmlType">
		<ns:sequence>
		    <ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
			<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
			<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
			<ns:element maxOccurs="1" minOccurs="1" name="TF1" type="pss:TimePeriodXmlType" />
		    <ns:element maxOccurs="1" minOccurs="1" name="TF2" type="pss:TimePeriodXmlType" />
	        <ns:element maxOccurs="1" minOccurs="1" name="E1" type="ns:double" />
			<ns:element maxOccurs="1" minOccurs="1" name="SE1" type="ns:double" />
			<ns:element maxOccurs="1" minOccurs="1" name="E2" type="ns:double" />
			<ns:element maxOccurs="1" minOccurs="1" name="SE2" type="ns:double" />			
		</ns:sequence>
		</ns:extension>
		</ns:complexContent>		
	</ns:complexType>
    

    <ns:complexType name="ExcIEEE1968Type3XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KP" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KI" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VBMAX" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    

<!-- 
		IEEE 1981 model set
 -->
    <!-- Alternator-supplied rectifier excitation system-->

    <ns:complexType name="ExcIEEE1968Type4XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="TRH" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KV" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VRMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VRMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="E1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E2" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE2" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    
	
	<!-- direct current commutator exciters -->
	
    <ns:complexType name="ExcIEEE1981TypeAC2XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="TR" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KB" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KL" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KH" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KC" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KD" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VLR" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    
	
    <ns:complexType name="ExcIEEE1981TypeDC1XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="TR" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="E1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E2" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE2" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    
	
    <!-- static excitation system-->
    
    <ns:complexType name="ExcIEEE1981TypeDC2XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="TR" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KE" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="E1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E2" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE2" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    

 
 <!-- 
		IEEE 1992 model set
 -->

    <ns:complexType name="ExcIEEE1981ST1XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="TR" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="VIMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VIMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KC" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    
	
    <ns:complexType name="ExcIEEE1992TypeAC1AXmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="TR" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TE" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KC" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KD" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE1" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="E2" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="SE2" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>


<!-- 
		Other models
 -->
	

    <ns:complexType name="ExcIEEE1992TypeST1AXmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="0" name="VIMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="0" name="VIMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB1" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC1" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KC" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KLR" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="ILR" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="0" name="VUEL" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="0" name="VUEL_INPUT_POSITION" type="ns:int" />
					<ns:element maxOccurs="1" minOccurs="0" name="UOEL" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="0" name="VS_INPUT_POSITION" type="ns:int" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
    
    <ns:complexType name="ExcTSATTypeEXC34XmlType">
		<ns:complexContent>
			<ns:extension base="pss:ExcSimpleTypeXmlType">
				<ns:sequence>
					<ns:element maxOccurs="1" minOccurs="1" name="IVUEL" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="IVOEL" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="LVS" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TC1" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TB1" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="TF" type="pss:TimePeriodXmlType" />
					<ns:element maxOccurs="1" minOccurs="1" name="KF" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VIMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VIMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMAX" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="VAMIN" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KC" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="KLR" type="ns:double" />
					<ns:element maxOccurs="1" minOccurs="1" name="ILR" type="ns:double" />
				</ns:sequence>
			</ns:extension>
		</ns:complexContent>
	</ns:complexType>
</ns:schema>
