ieee.odm.schema/schema/basecase/dynamic/DynamicLoadModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<ns:schema 
	xmlns:ns="http://www.w3.org/2001/XMLSchema" 
	xmlns:pss="http://www.ieee.org/odm/Schema/2008"
	targetNamespace="http://www.ieee.org/odm/Schema/2008" 
	elementFormDefault="qualified" >
	
    <ns:include schemaLocation="../../common/DataType.xsd"></ns:include>
    
    <ns:annotation>
		<ns:documentation>Copyright www.interpss.org 2008-2015</ns:documentation>
	</ns:annotation>
    

    <ns:complexType name="LoadCharacteristicXmlType">
		<ns:sequence>
			<ns:element name="location" maxOccurs="1" minOccurs="1" type="pss:LoadCharacteristicLocationEnumType"></ns:element>
			<ns:element name="locationId" type="pss:IDRefRecordXmlType" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="LoadXmlType" maxOccurs="1" minOccurs="1" type="pss:LoadCharacteristicTypeEnumType"></ns:element>
			<ns:element name="LoadModel" type="pss:LoadCharacteristicModelListXmlType" maxOccurs="1" minOccurs="1"></ns:element>
		</ns:sequence>
	</ns:complexType>
    

    <ns:simpleType name="LoadCharacteristicLocationEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="atBus"></ns:enumeration>
			<ns:enumeration value="atOwner"></ns:enumeration>
			<ns:enumeration value="atZone"></ns:enumeration>
			<ns:enumeration value="atArea"></ns:enumeration>
			<ns:enumeration value="other"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>
    

    <ns:simpleType name="LoadCharacteristicTypeEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="IEEEStaticLoad"></ns:enumeration>
			<ns:enumeration value="ComplexLoad"></ns:enumeration>
			<ns:enumeration value="InductionMotor"></ns:enumeration>
			<ns:enumeration value="WECCCompositeLoad"></ns:enumeration>
			<ns:enumeration value="SINGLE_PHASE_AC_MOTOR"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>
    

    <ns:complexType name="LoadCharacteristicModelListXmlType">
		<ns:sequence>
			<ns:element name="IEEEStaticLoad" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadIEEEStaticLoadXmlType"></ns:element>
			<ns:element name="ComplexLoad" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadComplexLoadXmlType"></ns:element>
			<ns:element name="IndMotor5" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadInductionMotorCIM5XmlType"></ns:element>
		    <ns:element name="CMPLDW" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadCMPLDWXmlType"></ns:element>
		</ns:sequence>
	</ns:complexType>
    

    <ns:complexType name="DynamicLoadIEEEStaticLoadXmlType">
		<ns:sequence>
			<ns:element name="modelDesc" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadEnumType">			</ns:element>
			<ns:element name="a1" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a2" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a3" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a4" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a5" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a6" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a7" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a8" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="n1" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="n2" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="n3" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="n4" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="n5" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="n6" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="a9" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="a10" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
		</ns:sequence>
	</ns:complexType>
	
	<ns:complexType name="DynamicLoadSinglePhaseACMotorXmlType">
		<ns:sequence>
		    <ns:element name="modelDesc" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadEnumType">			</ns:element>
			<ns:element name="CompLF" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="CompPF" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Rstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Xstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LFadj" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Kp1" type="ns:double" maxOccurs="1" minOccurs="0" default= "0.0"></ns:element>
			<ns:element name="Np1" type="ns:double" maxOccurs="1" minOccurs="0" default= "1.0"></ns:element>
			<ns:element name="Kq1" type="ns:double" maxOccurs="1" minOccurs="0" default= "6.0"></ns:element>
			<ns:element name="Nq1" type="ns:double" maxOccurs="1" minOccurs="0" default= "2.0"></ns:element>
			<ns:element name="Kp2" type="ns:double" maxOccurs="1" minOccurs="0" default= "12.0"></ns:element>
			<ns:element name="Np2" type="ns:double" maxOccurs="1" minOccurs="0" default= "3.2"></ns:element>
			<ns:element name="Kq2" type="ns:double" maxOccurs="1" minOccurs="0" default= "11.0"></ns:element>
			<ns:element name="Nq2" type="ns:double" maxOccurs="1" minOccurs="0" default= "2.5"></ns:element>
			<ns:element name="CmpKpf" type="ns:double" maxOccurs="1" minOccurs="0" default= "1.0"></ns:element>
			<ns:element name="CmpKqf" type="ns:double" maxOccurs="1" minOccurs="0" default= "-3.3"></ns:element>
			<ns:element name="Vbrk" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Frst" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrst" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trst" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Fuvr" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr1" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr1" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr2" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr2" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc1off" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc2off" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc1on" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc2on" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tth" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Th1t" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Th2t" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tv" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tf" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
		</ns:sequence>
	</ns:complexType>
	
	<ns:complexType name="DynamicLoadCMPLDWXmlType">
		<ns:sequence>
			<ns:element name="modelDesc" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadEnumType">			</ns:element>
			<ns:element name="mva" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Bss" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Rfdr" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Xfdr" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Fb" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Xxf" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="TfixHS" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="TfixLS" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="LTC" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Tmin" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tmax" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="step" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vmin" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vmax" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tdel" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttap" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Rcomp" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Xcomp" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Fma" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Fmb" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Fmc" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Fmd" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Fel" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="PFel" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vd1" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vd2" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Frcel" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Pfs" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="P1e" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="P1c" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="P2e" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="P2c" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Pfreq" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Q1e" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Q1c" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Q2e" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Qfreq" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			
			<ns:element name="MtpA" type="ns:int" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="MtpB" type="ns:int" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="MtpC" type="ns:int" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="MtpD" type="ns:int" maxOccurs="1" minOccurs="0"></ns:element>
			
			<ns:element name="LfmA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="RsA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LsA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LpA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LppA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="TpoA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="TppoA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="HA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="etrqA" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr1A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr1A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ftr1A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrc1A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trc1A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr2A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr2A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ftr2A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrc2A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trc2A" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			
			<ns:element name="LfmB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="RsB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LsB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LpB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LppB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="TpoB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="TppoB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="HB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="etrqB" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr1B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr1B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ftr1B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrc1B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trc1B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr2B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr2B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ftr2B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrc2B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trc2B" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			
			<ns:element name="LfmC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="RsC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LsC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LpC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="LppC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="TpoC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="TppoC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="HC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="etrqC" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr1C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr1C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ftr1C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrc1C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trc1C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vtr2C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ttr2C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Ftr2C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrc2C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trc2C" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			
			<ns:element name="LfmD" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="CompPF" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Rstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Xstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tstall" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Frst" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vrst" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Trst" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="fuvr" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="vtr1" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="ttr1" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="vtr2" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="ttr2" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc1off" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc2off" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc1on" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Vc2on" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Tth" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Th1t" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="Th2t" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
			<ns:element name="tv" type="ns:double" maxOccurs="1" minOccurs="0"></ns:element>
    	</ns:sequence>
	</ns:complexType>

    <ns:simpleType name="DynamicLoadEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="IEEEStaticLoad"></ns:enumeration>
			<ns:enumeration value="InductionMotor"></ns:enumeration>
			<ns:enumeration value="SinglePhaseACMotor"></ns:enumeration>
			<ns:enumeration value="ComplexLoad"></ns:enumeration>
			<ns:enumeration value="CompositeLoadModel"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>
    

    <ns:complexType name="DynamicLoadComplexLoadXmlType">
		<ns:sequence>
			<ns:element name="modelDesc" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadEnumType"> 		</ns:element>
			<ns:element name="largeMotPercent" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="smallMotPercent" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="transExcCurPercent" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="dischLightingPercent" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="constPowerPercent" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="remainPercent" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="branchR" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="branchX" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
		</ns:sequence>
	</ns:complexType>
    

    <ns:complexType name="DynamicLoadInductionMotorCIM5XmlType">
		<ns:sequence>
			<ns:element name="modelDesc" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadEnumType">			</ns:element>
			<ns:element name="RA" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="XA" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="XM" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="R1" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="X1" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="R2" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="X2" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="E1" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="SE1" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="E2" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="SE2" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="MBASE" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="PMULT" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="H" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="VI" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="TI" maxOccurs="1" minOccurs="1" type="pss:TimePeriodXmlType"></ns:element>
			<ns:element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="D" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Tnom" type="ns:string" maxOccurs="1" minOccurs="0"></ns:element>
		</ns:sequence>
	</ns:complexType>
	
	
	<ns:complexType name="DynamicLoadInductionMotorCIM6XmlType">
		<ns:sequence>
			<ns:element name="modelDesc" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadEnumType">			</ns:element>
			<ns:element name="RA" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="XA" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="XM" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="R1" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="X1" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="R2" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="X2" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="E1" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="SE1" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="E2" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="SE2" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="MBASE" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="PMULT" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="H" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="VI" type="ns:string" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="TI" maxOccurs="1" minOccurs="1" type="pss:TimePeriodXmlType"></ns:element>
			<ns:element name="TB" type="pss:TimePeriodXmlType" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="A" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="B" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="D" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="C0" type="ns:double" maxOccurs="1" minOccurs="1"></ns:element>
			<ns:element name="Tnom" type="ns:string" maxOccurs="1" minOccurs="0"></ns:element>
		</ns:sequence>
	</ns:complexType>
    

    <ns:simpleType name="InductionMotorEnumType">
		<ns:restriction base="ns:string">
			<ns:enumeration value="PSSECIM5"></ns:enumeration>
			<ns:enumeration value="PSSECIM6"></ns:enumeration>
			<ns:enumeration value="MOTORW"></ns:enumeration>
		</ns:restriction>
	</ns:simpleType>
    	
    	
    <ns:complexType name="DynamicLoadModelSelectionXmlType">
		<ns:choice>
			<ns:element name="IEEEStaticLoad" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadIEEEStaticLoadXmlType"></ns:element>
			<ns:element name="ComplexLoad" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadComplexLoadXmlType"></ns:element>
			<ns:element name="InductionMotorCIM5" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadInductionMotorCIM5XmlType"></ns:element>
			<ns:element name="CMPLDWLoad" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadCMPLDWXmlType"></ns:element>
			<ns:element name="SinglePhaseACMotor" maxOccurs="1" minOccurs="0" type="pss:DynamicLoadSinglePhaseACMotorXmlType"></ns:element>
		</ns:choice>
	</ns:complexType>
</ns:schema>